.group-chat-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--color-bg);
    background-image: url(../media/bg-texture.png);
}

.group-chat-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    margin-top: 68px;
}

@media (max-width: 1024px) {

    .chatroom-container {
        margin-left: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 768px) {

    .chatroom-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 576px) {


    .group-chat-container {
        flex-direction: column;
    }

    .chatroom-container {
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}