.group-chat-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--color-bg);
    background-image: url(../media/bg-texture.png);
}

.group-chat-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    margin-top: 68px;
}

.additional-desktop {
    display: flex;
}

.toggle-additional-button {
     display: none;
 }

@media (max-width: 576px) {
    .group-chat-container {
        flex-direction: column;
    }

    .additional-desktop {
        display: none;
    }

    .toggle-additional-button {
        position: fixed;
        top: 50%;
        right: 0;
        background-color: #007bff;
        color: white;
        padding: 0.5rem;
        border-radius: 4px 0 0 4px;
        cursor: pointer;
        transform: translateY(-50%);
        z-index: 110;
        display: block;
    }
}
