/* Robot to card thought bubble effect */
@keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
  }
  
  .thought-line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    animation: pulse 2s infinite;
  }
  
  .thought-line::before, .thought-line::after {
    content: '';
    position: absolute;
    background: #fff;
    border-radius: 50%;
  }
  
  .thought-line::before {
    top: -20px;
    left: -10px;
    width: 50px;
    height: 50px;
  }
  
  .thought-line::after {
    top: -40px;
    left: -30px;
    width: 30px;
    height: 30px;
  }
  
  /* Typing Animation */
  @keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.typing-animation {
    width: 22ch;
    animation: typing 2s steps(22), blink-caret .75s step-end infinite, fadeInRight 3s ease-in-out infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'Fantasy', cursive;
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin: 70px auto 20px;
}
.flip-card {
    perspective: 1000px;
    margin: 20px;
    font-family: 'Fantasy', cursive;
  }
  
  .flip-card-inner {
    position: relative;
    width: 200px;
    height: 140px;
    text-align: center;
    transition: transform 0.8s cubic-bezier(0.4, 0.0, 0.2, 1), width 0.4s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: 'Fantasy', cursive;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    width: 220px; /* Increase width on hover */
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hide back of card when flipped */
    border-radius: 20px; /* Optional: rounded corners */
    overflow: hidden; /* Optional: in case of content overflow */
  }
  
  .flip-card-front {
    background-color: white;
    color: black;
  }
  
  .flip-card-back {
    background-color:#faf5e9;
    color: white;
    transform: rotateY(180deg); /* Position the backside correctly when flipped */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .flip-card-back Typography {
    padding: 10px; /* Provide padding to the content for better readability */
  }
  .card-container1 {
    display: flex;
    justify-content: space-around; /* This spreads out the cards evenly */
    align-items: center; /* This centers the cards vertically */
    width: 100%; /* Adjust this as necessary to fit within your layout */
    padding: 20px; /* Provides some space around the cards */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  }
  
 