.assistant-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
    padding-top: 200px;
    padding-left: 300px;
    padding-right: 50px;
    margin: auto;
    background-color: var(--color-bg);
    background-image: url(../media/bg-texture.png);
}

.greeting {
    margin-bottom: 20px;
    font-family:cursive;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card1 {
    background-color: #f1f1f1;
    padding: 15px;
    width: 23%;
    text-align: center;
    border-radius: 8px;
    color: rgba(55, 0, 193, 0.3)
   
}

.message-bar {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.message-bar input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.message-bar input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0px 2px 10px rgba(0, 123, 255, 0.3);
}

.message-bar button {
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.message-bar button:hover {
    background-color: #0056b3;
}

.loading-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    padding: 20px;
}

.user-message-right {
    background-color: rgb(36, 33, 33);
    padding: 10px;
    border-radius: 15px;
    text-align: right;
    color: white;
    max-width: 70%;
}

.skeleton-loader {
    width: 100%;
    max-width: 500px;
    height: 50px;
    border-radius: 12px;
    background: linear-gradient(90deg, rgba(240, 240, 240, 0.7) 25%, rgba(230, 230, 230, 1) 50%, rgba(240, 240, 240, 0.7) 75%);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s ease-in-out infinite;
}

@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}
