/* ChatDrawer.css */
.drawer-container {
    top: 67.2px;
    width: 250px;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: background 0.3s ease, backdrop-filter 0.3s ease;
    background-color: var(--color-bg);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.MuiListItemButton-root {
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.MuiListItemText-root {
    flex-grow: 1;
}
.MuiSvgIcon-root {
    cursor: pointer;
}

.MuiCollapse-wrapperInner {
    padding-left: 10px;
}


/* History Section */
.history-title {
    margin-top: 16px;
    /* color: #000000; */
    padding-left: 16px;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
}
/* Limit height of history section */
.history-list {
    max-height: 200px; /* Adjust this height as needed */
    overflow-y: auto;
    overflow-x: auto; /* Add horizontal scrolling */
}

/* Active Item Background */
.active-item {
    background-color: #343a40;
    color: black;
    border-left: 4px solid #007bff; /* Keep your border as needed */
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, border-left 0.3s ease;
}
.active-item:hover {
    background-color: #495057; /* Change hover effect on active items */
    color: #000000; /* Ensure text color remains clear */
    font-weight: bold;
}
.active-item .MuiListItemText-root {
    color: #ffffff;
    font-weight: bold;
}

/* Style for the icon (if any) when the item is active */
.active-item .MuiSvgIcon-root {
    fill: #007bff;
    /* Change the color of any icons (if present) */
}
/* Hover effect for inactive list items */
/* .MuiListItemButton-root:hover {
    background-color: #495057;
    color: #ffffff;
}

.MuiListItemButton-root:hover .MuiListItemText-root {
    color: #ffffff;
}

.MuiListItemButton-root:hover .MuiSvgIcon-root {
    fill: #ffffff;
}

.MuiIconButton-root {
    padding: 5px;
    color: white;
} */