.chatroom-container {
    max-width: 800px;
    /* width: auto; */
    width: 100%;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 68px);
    /* max-width: 100vh; */
}

/* Menu icon (down arrow) */
.menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(1px);
        /* border-radius: 2px; */
    cursor: pointer;
    display: none;
    z-index: 100;
}

.message-box:hover .menu-icon {
    display: block;
}

.message-box .dropdown-toggle {
    z-index: -1000;
}

/* Dropdown positioning */
.message-box .dropdown-menu {
    min-width: auto;
    width: auto;
    z-index: 55;
    position: absolute;
    right: 0;
    /* top: 30px; */
}
.menu-icon:hover {
    background: transparent;
    color: rgba(255, 255, 255, 1);
}
.msg-chese-space{
    padding: 0.8rem;
    /* margin: 0 2rem; */
}

.send-button {
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #0056b3;
}

.send-button i {
    font-size: 16px;
    /* You can adjust the size of the icon here */
}

/* Form Control (Textarea Input) */
.form-control {
    width: 100%;
    /* Full width of the input group */
    padding: 10px;
    /* Padding inside the textarea */
    border-radius: 20px;
    /* Rounded corners */
    border: 1px solid #ccc;
    /* Light grey border */
    font-size: 16px;
    /* Larger font for readability */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    background-color: #f9f9f9;
    /* Light background for contrast */
    resize: none;
    /* Disable manual resizing */
}

/* Focus State - When user clicks or types inside the textarea */
.form-control:focus {
    outline: none;
    /* Remove the default focus outline */
    border-color: #007bff;
    /* Border turns blue when focused */
    box-shadow: 0px 2px 10px rgba(0, 123, 255, 0.3);
    /* Stronger shadow on focus */
}

/* Ensuring consistency across mobile and desktop */
@media (max-width: 768px) {
    .form-control {
        font-size: 14px;
        /* Slightly smaller font for mobile */
        padding: 8px;
        /* Less padding for smaller screens */
    }
}

.messages {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;

}

/* Adjusting text and icon colors for dark theme */
.bg-dark .small,
.bg-dark .text-muted,
.bg-dark .message-status {
    color: #fff !important;
    /* Ensure the color is white for dark mode */
}

.bg-dark .btn-outline-primary {
    color: #fff;
    border-color: #fff;
}

.bg-dark .btn-outline-primary:hover {
    background-color: #fff;
    color: #000;
}

.bg-primary {
    background-color: #007bff !important;
}

.bg-success {
    background-color: #28a745 !important;
}

.message-status {
    font-size: 16px;
    margin-left: 10px;
}

.text-danger {
    color: red;
    margin-top: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.overlay-content {
    text-align: center;
}

.blur {
    filter: blur(4px);
}


.message-box {
    position: relative;
    display: inline-block;
    padding: 10px;
    padding-bottom: 25px;
    border-radius: 15px;
    color: white;
    word-wrap: break-word;
    max-width: 80vw;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    width: auto;
    height: auto;
    box-sizing: border-box;

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.timestamp {
    position: absolute;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.7);
}

.edited {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
    margin-left: 2px;
}

.custom-reply-info {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.7);
}

.dropdown-toggle {
    position: absolute;
    top: 0px; 
    left: 0px; 
    background: transparent; 
    border: none; 
}

.dropdown-item{
    border-radius: 5px;
}

.message-box .dropdown-menu {
    position: absolute;
    min-width: auto;
    width: auto;
    z-index: 55;
}

.message-box.bg-primary {
    background-color: #007bff;
}

.message-box.bg-success {
    background-color: #28a745;
}

.mb-3 span {
    position: relative;
    top:50%;
    right: 0px;
    transform: translateY(-50%);
    cursor: pointer;

}
.message-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.align-items-end .message-wrapper {
    align-items: flex-end;
}

.reply-to-wrapper {
    max-width: 80%;
    /* margin-bottom: 0.5rem; */
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: left;
}

.reply-to-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.reply-to-container span {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reply-to-container .cancel-button {
    align-self: flex-end;
    margin-top: 5px;

            background-color: #007bff;
            border: none;
            color: white;
            padding: 0.425rem 0.8rem;
            font-size: 0.8rem;
            border-radius: 1.5rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
}

.reply-to-container .cancel-button  {
    white-space: nowrap;
}

.align-items-end .reply-to-wrapper {
    align-self: flex-end;
    text-align: left;
}


.logout-btn:hover {
    background-color: #0056b3;
}


.btn2 {
    width: 150px;
    /* padding: 2px 3px; */
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media (max-width: 767px) {

        .chatroom-container {
                margin: auto;
                height: calc(100vh - 68px);
                display: flex;
                flex-direction: column;
                position: relative;
            }
    .btn2 {
        font-size: 0.8rem;
        /* padding: 0.4rem 0.8rem; */
        max-width: 60px;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 4px;
    }
        .chatroom-container {
            margin: auto;
            height: calc(100vh - 68px);
            display: flex;
            flex-direction: column;
            position: relative;
    
        }

        .dropdown-toggle {
            z-index: -1000000;
        }

                .message-box {
                    position: relative;
                    display: inline-block;
                    padding: 10px;
                    border-radius: 15px;
                    color: white;
                    word-wrap: break-word;
                    max-width: 80vw;
                    white-space: pre-wrap;
                    overflow-wrap: break-word;
                    width: auto;
                    height: auto;
                    box-sizing: border-box;
                    transition: transform 0.3s ease;
                    /* Smooth transition for swipe */
                }
                .menu-icon{
                    z-index: -100000;
                    display: none;
                }

                                /* Enforce consistent layout for mobile landscape mode */
                                @media (orientation: landscape) and (max-width: 767px) {
                                    .chatroom-container {
                                        margin: 0 auto;
                                        height: calc(100vh - 68px);
                                        display: flex;
                                        flex-direction: column;
                                        position: relative;
                                    }
                
                                    .message-box {
                                        max-width: 90vw;
                                        /* Adjust to fit the wider landscape screen */
                                    }
                
                                    .form-control {
                                        font-size: 14px;
                                        padding: 8px;
                                    }
                
                                    .send-button {
                                        padding: 8px 15px;
                                    }
                                }
}
@media (min-width: 768px) {
    .message-box {
        max-width: 50vw;
        /* Adjust this value for mobile */
    }
}

@media (min-width: 1024px) {
    .message-box {
        max-width: 40vw;
    }
}

.profile-card {
    position: fixed !important;
    top: 70px !important;
    right: 20px !important;
    width: 250px !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37) !important;
    z-index: 100 !important;
    border-radius: 16px !important;
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    transition: background 0.3s ease, backdrop-filter 0.3s ease !important;
}

.profile-card h5 {
    margin-bottom: 10px !important;
    font-size: 1.2rem !important;
    color: var(--color-primary) !important;
}

.profile-card p {
    margin: 5px 0 !important;
    color: var(--color-light) !important;
}