/* Ensure that the button is always visible in one line */


:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

    --transition: all 400ms ease;

}

.btn-container {
    display: flex;
    align-items: center;
}

.btn1 {
    width: 150px;
    padding: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media (max-width: 767px) {
    .btn1 {
        font-size: 0.8rem;
        padding: 0.4rem 0.8rem;
        width: 75px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 4px;
    }
}
/* 
.profile-card {
    position: fixed;
    top: 60px;
    right: 20px;
    width: 250px;
    border: 1px solid var(--color-primary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 10;
    border-radius: 10px;
    background-color: var(--color-bg-variant) !important;
    border-radius: 8px;
    color: var(--color-white);
    padding: 10px;
}

.profile-card h5 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: var(--color-primary);
}

.profile-card p {
    margin: 5px 0;
    color: var(--color-light);
} */
/* Header.css */
.profile-card {
    position: fixed !important;
    top: 70px !important;
    right: 20px !important;
    width: 250px !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37) !important;
    z-index: 10 !important;
    border-radius: 16px !important;
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    /* For Safari */
    /* color: var(--color-white) !important; */
    padding: 20px !important;
    transition: background 0.3s ease, backdrop-filter 0.3s ease !important;
}

.profile-card h5 {
    margin-bottom: 10px !important;
    font-size: 1.2rem !important;
    color: var(--color-primary) !important;
}

.profile-card p {
    margin: 5px 0 !important;
    color: var(--color-light) !important;
}