/* Container for the entire landing page */
.landing-page-container {
    display: flex;
    justify-content: center;
    height:fit-content;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    background-color: black; /* Background color */
}


.row {
    display: flex;
    width: 100%;
   height:fit-content;
    justify-content: center;
    box-sizing: border-box;
    overflow-wrap: wrap;
}


.landingpage-comp1 {
    flex: 0 0 80%; 
    height: fit-content;
    overflow-y: auto; /* Allow vertical scrolling */
    padding-left: 20px;
    box-sizing: border-box;
    overflow-wrap: wrap;
}

